*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rowdies', cursive;
}

nav{
    background: black;
    padding: 30px 0px;
    text-align: center;
    text-transform: uppercase;
    transform: skewY(-4deg);
    padding-top: 90px;
    padding-bottom: 50px;
    margin-top: -50px;
}

nav>a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
    font-size: 20px;
}
main{
    padding-top: 2%;
    padding-bottom: 2%;
}
.rectangule{
    background: black;
    transform: skewY(-4deg);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
}
.content-footer{
    color: white;
    background: black;
    display: flex;
    padding-top: 88px;
    margin-top: -48px;
    padding-bottom: 50px
}
.content-footer h3{
    margin-bottom: 20px;
}
.copyright{
    color: white;
    background: black;
    padding-bottom: 50px;
    text-align: center;
}
.made-by{
    margin-left: 8%;
    margin-right: 4%;
}
.made-by table{
    margin-top: 4%;
    margin-left: 6%;
}
.managers-email{
    margin-left: 4%;
    margin-right: 4%;
}
.services{
    margin-left: 4%;
    margin-right: 4%;
}
.connect-with-us{
    margin-left: 4%;
    margin-right: 4%;
}
.connect-with-us input{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 5%;
    border-radius: 15px;
}
.connect-with-us button{
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 15px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: -20px;
    background: gray;
    color: black;
    cursor: pointer;
}
.send{
    display: flex;
}
.connect-with-us img{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
body{
    background-color: gray;
}